.titulo{
    font-family: tahoma;
    color: rgb(214, 212, 212);
}


.Input{
    justify-content: center;
    width:75%;
    height: 30px;
    margin: 10px;
    background: rgba(236, 236, 241, 0.884);
    font: 12px verdana, arial, sans-serif;
    border: 2px solid rgba(0, 0, 0, 0.541);
    border-radius: 10px;
    outline: none;
    color: rgb(182, 35, 35);
    padding-left: 15px;
}

::-webkit-input-placeholder {
   color: rgba(8, 6, 6, 0.836);
   font-weight: bold;
   font-size: 11px;
}

.LabelCheckBox {
    color:rgb(224, 218, 218);
    font-weight: bold;
}

.LabelCheckBoxSign {
    color:rgb(14, 10, 10);
    font-weight: bold;
}

.InputCheckBoxSign{
    justify-content: left;
}


.LinkPassword {
    color: rgba(250, 250, 250, 0.836);
    text-decoration: none;
}

.RePass{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

.ButtonLogin {
    justify-content: center;
    width:80%;
    height: 30px;
    margin: 15px 0px;
    background: rgb(12, 179, 26);
    border: none;
    color: rgb(9, 9, 10);
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.ButtonSignUp{
    justify-content: center;
    width:80%;
    height: 30px;
    margin: 15px 0px;
    background: rgb(12, 179, 26);
    border: none;
    color: rgb(7, 5, 5);
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.LinkNewAccount {
    color: rgba(250, 250, 250, 0.836);
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.POr {
    color: rgba(250, 250, 250, 0.836);
    margin-top: 0px;
}

.IconFace{
    border-radius: 80%;
}

.Icones {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 70px;
}